<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="card mb-4">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Genres</h1>
                    <p class="lead fw-normal text-muted mb-0">That have been added already</p>
                </div>
                <div class="row gx-5">
                    <div>
                        <form th:action = "@{/movies/search}" class = "form-inline my-2 my-lg-0 mb-3">
                            <input name = "query" class = "form-control mr-sm-2 mb-5 " type = "search" placeholder="Search genres">
                        </form>
                    </div>
                    <div th:each="genre :${genres}" class="col-lg-6 mb-3">
                        <div class="position-relative mb-3">
                            <p th:text="${genre.type}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">hihihaha</p>
                            <h5 class="fw-lighter" th:text ="${genre.description}"> </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>