<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Movies</h1>
                <p class="lead fw-normal text-muted mb-0">That have been added already</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action = "@{/movies/search}" class = "form-inline my-2 my-lg-0 mb-3">
                            <input name = "query" class = "form-control mr-sm-2 mb-5 " type = "search" placeholder="Search movies">
                    </form>
                </div>
                <div th:each="movie :${movies}" class="col-lg-6 mb-3">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-5 mb-3" th:src="${movie.photoUrl}" alt="..." />
                        <p th:text="${movie.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">hihihaha</p>
                        <p th:text="${movie.year}" class="lead fw-normal text-muted mb-0" href="#!">hihihaha</p>
                    </div>
                    <div>
                        <a class = "btn btn-primary mb-3" th:href = "@{/movies/{id}(id = ${movie.id})}">View</a>
                    </div>
                    <a class = "btn btn-primary" th:href = "@{/movies/{id}/edit(id = ${movie.id})}">Edit</a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>